openapi: 3.0.2
info:
  version: 2.0.0
  title: Welcome to The Vinter APIs
  termsOfService: 'https://vinterapi.com/terms/'
  contact:
    email: contact@vinter.capital
    url: 'https://vintercapital.com/contact'
    name: contact
  license:
    name: 'Proprietary '
    url: www.vinter.co
  x-logo:
    url: 'https://i.postimg.cc/7Y3fY9V1/vinterlogomedpadding.png'
  description: |
    # Introduction
    This documentation describes Vinter's API endpoints. The endpoints offer access to all Vinter indexes. All endpoints require an API key. You can request an API key by sending an e-mail to contact@vinter.co. The API key should be placed in the headers authorization field.
    In Python this can be done with the request library using the below code snippet.
      ```
    import requests
    url = 'https://www.vinterapi.com/api/v2/single_assets_hourly/?p=btc-usd-p-h'
    headers = {'Authorization': *****}
    r = requests.get(url, headers=headers)
      ```

    where the stars are to be replaced with your API key. If you are not using Python, here is a curl command that you can use to try out th *single assets hourly* API

      ```
    curl -H "Authorization: *****" https://www.vinterapi.com/api/v2/single_assets_hourly/?p=btc-usd-p-h
      ```
tags:
  - name: Active multi assets hourly
    description: 'The active multi assets hourly endpoint returns information on all multi assets indexes that are calculated on an hourly basis. These indexes also constitutes the daily multi assets indexes that Vinter calculates. The endpoint returns the index symbols that you can use when you query other endpoints. The endpoint requires an API key and does not accept any      parameters. **Example url** ``` https://www.vinterapi.com/api/v2/active_multi_assets_hourly/ ```'
  - name: Active multi assets real-time
    description: 'The active multi assets real-time endpoint returns information on all multi assets indexes that are calculated on a continuous basis. The endpoint returns the index symbols that you can use when you query other endpoints. The endpoint requires an API key and does not accept any      parameters. **Example url** ``` https://www.vinterapi.com/api/v2/active_multi_assets_real_time/ ```'
  - name: Active single assets hourly
    description: 'The active single assets hourly endpoint returns information on all single assets indexes that are calculated on an hourly basis. These indexes also constitutes the daily single assets indexes that Vinter calculates. The endpoint returns the index symbols that you can use when you query other endpoints. The endpoint requires an API key and does not accept any      parameters. **Example url** ``` https://www.vinterapi.com/api/v2/active_single_assets_hourly/ ```'
  - name: Active single assets real-time
    description: 'The active single assets real-time endpoint returns information on all single assets indexes that are calculated on a continuous basis. The endpoint returns the index symbols that you can use when you query other endpoints. The endpoint requires an API key and does not accept any      parameters. **Example url** ``` https://www.vinterapi.com/api/v2/active_single_assets_real_time/ ```'
  - name: Multi assets hourly
    description: 'The multi assets hourly endpoint returns values for a specific multi asset index that is calculated on an hourly basis. The endpoint requires an API key and it requires that the symbol of the index is specified using the symbol parameter. **Example url** ``` https://www.vinterapi.com/api/v2/multi_assets_hourly/?symbol=vntr-5eq-h ```'
  - name: Multi assets real-time
    description: 'The multi assets real-time endpoint returns values on a specific multi asset index that is calculated on a continuous basis. The endpoint requires an API key and it requires that the symbol of the index is specified using the symbol parameter. **Example url** ``` https://www.vinterapi.com/api/v2/multi_assets_real_time/?symbol=vntr-5eq-r ```'
  - name: Single assets hourly
    description: 'The single assets hourly endpoint returns values for a specific single asset index that is calculated on an hourly basis. The endpoint requires an API key and it requires that the symbol of the index is specified using the symbol parameter. **Example url** ``` https://www.vinterapi.com/api/v2/single_assets_hourly/?symbol=btc-usd-p-h ```'
  - name: Single assets real-time
    description: 'The single assets real-time endpoint returns values on a specific single asset index that is calculated on a continuous basis. The endpoint requires an API key and it requires that the symbol of the index is specified using the symbol parameter. **Example url** ``` https://www.vinterapi.com/api/v2/single_assets_real_time/?symbol=btc-usd-p-r ```'
servers:
  - url: 'https://vinterapi.com/api/v2'
paths:
  /active_multi_assets_hourly/:
    $ref: paths/active_multi_assets_hourly.yaml
  /active_multi_assets_real_time/:
    $ref: paths/active_multi_assets_real_time.yaml
  /active_single_assets_hourly/:
    $ref: paths/active_single_assets_hourly.yaml
  /active_single_assets_real_time/:
    $ref: paths/active_single_assets_real_time.yaml
  /multi_assets_hourly/:
    $ref: paths/multi_assets_hourly.yaml
  /multi_assets_real_time/:
    $ref: paths/multi_assets_real_time.yaml
  /single_assets_hourly/:
    $ref: paths/single_assets_hourly.yaml
  /single_assets_real_time/:
    $ref: paths/single_assets_real_time.yaml
components:
  securitySchemes:
    Authorization:
      name: API Key
      type: apiKey
      in: header
