openapi: 3.0.2
info:
  version: 1.0.0
  title: The Vinter APIs
  termsOfService: 'https://vinterapi.com/terms/'
  contact:
    email: contact@vinter.capital
    url: 'https://vintercapital.com/contact'
    name: contact
  license:
    name: 'Proprietary '
    url: www.vinter.capital
  x-logo:
    url: 'https://res-2.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco/ewbs0jxslmtxft2ihras'
  description: |
    # Introduction
    This documentation describes Vinter Capital's API endpoints. An API key is       required for all endpoints and can be requested by sending an e-mail to          contact@vinter.capital. The API key should be placed in the headers             authorization field.
      ```
      Authorization : Api-Key ********
      ```
    In python this can be done using the request library
      ```
      import requests
      url = 'https://wwww.vinterapi.com/api/v1/vinter_universe/'
      headers = {'Authorization': *****}
      r = requests.get(url, headers=headers)
      ```
    where the stars are your API key. The API can also be accessed vi curl by
      ```
      curl -H "Authorization: *****" wwww.vinterapi.com/api/v1/vinter_universe/
      ```

tags:
  - name: Active Reference Indexes
    description: Information on active reference indexes
  - name: Active Real-time indexes
    description: Information on active real-time indexes
  - name: Vinter Reference Indexes
    description: The vinter reference index endpoint
  - name: Vinter Real-time Indexes
    description: The vinter real-time index endpoint 
servers:
  - url: 'https://vinterapi.com/api/v1'
paths:
  /active_real_time_index/:
    $ref: paths/active_real_time_index.yaml
  /active_reference_index/:
    $ref: paths/active_reference_index.yaml
  /real_time_index/:
    $ref: paths/real_time_index.yaml
  /reference_index/:
    $ref: paths/reference_index.yaml
 
  