openapi: 3.0.2
info:
  version: 2.0.0
  title: Welcome to The Vinter APIs
  termsOfService: 'https://vinterapi.com/terms/'
  contact:
    email: contact@vinter.capital
    url: 'https://vintercapital.com/contact'
    name: contact
  license:
    name: 'Proprietary '
    url: www.vinter.co
  x-logo:
    url: 'https://i.postimg.cc/7Y3fY9V1/vinterlogomedpadding.png'
  description: |-
    # Index structure
    There are two types of indexes, depending on the number of assets that constitutes the index:
    * single assets
    * multi assets 

    Single asset indexes track the value of a single asset e.g. BTC in USD, whereas multi assets indexes track the value of a portfolio with multiple assets e.g. BTC and XAU.
    There are three types of frequencies: 
    * real-time (r)
    * hourly (h)
    * daily (d)

    The last letter of the index name indicate its frequency. The `btc-usd-p-d` index is a single asset index with hourly (h) frequency. The `vnby-bold1-d` index is a multi asset index with daily (d) frequency. 
    ### API functionality 
    The core functionality of the Vinter API is to 
    1. Get symbols for all active index values.  2. Get current index values and metadata for a symbol.
    By default, the API returns the most recent index value. You can control the amount of datapoints returned with the `limit` parameter. 

    ### Try the API
    You can use curl to try out the single assets hourly API

    ```curl 
    curl -H "Authorization: your_secret_api_key" https://www.vinterapi.com/api/v2/single_assets_hourly/?symbol=btc-usd-p-h 
    ```

    In Python you can do this using the request library:


    ```python 
    import requests url = "https://www.vinterapi.com/api/v2/single_assets_hourly/?symbol=btc-usd-p-h" 
    headers = {"Authorization": your_secret_api_key} 
    r = requests.get(url, headers=headers) 
    ```

    ### Request API key
    All endpoints require an API key. You can request an API key by sending an email to [hello@vinter.co](mailto:hello@vinter.co)
tags:
  - name: Active multi assets hourly
    description: 'The active multi assets hourly endpoint returns information on all multi assets indexes that are calculated on an hourly basis. These indexes also constitutes the daily multi assets indexes that Vinter calculates. The endpoint returns the index symbols that you can use when you query other endpoints. The endpoint requires an API key and does not accept any      parameters. **Example url** ``` https://www.vinterapi.com/api/v2/active_multi_assets_hourly/ ```'
  - name: Active multi assets real-time
    description: 'The active multi assets real-time endpoint returns information on all multi assets indexes that are calculated on a continuous basis. The endpoint returns the index symbols that you can use when you query other endpoints. The endpoint requires an API key and does not accept any      parameters. **Example url** ``` https://www.vinterapi.com/api/v2/active_multi_assets_real_time/ ```'
  - name: Active single assets hourly
    description: 'The active single assets hourly endpoint returns information on all single assets indexes that are calculated on an hourly basis. These indexes also constitutes the daily single assets indexes that Vinter calculates. The endpoint returns the index symbols that you can use when you query other endpoints. The endpoint requires an API key and does not accept any      parameters. **Example url** ``` https://www.vinterapi.com/api/v2/active_single_assets_hourly/ ```'
  - name: Active single assets real-time
    description: 'The active single assets real-time endpoint returns information on all single assets indexes that are calculated on a continuous basis. The endpoint returns the index symbols that you can use when you query other endpoints. The endpoint requires an API key and does not accept any      parameters. **Example url** ``` https://www.vinterapi.com/api/v2/active_single_assets_real_time/ ```'
  - name: Multi assets hourly
    description: 'The multi assets hourly endpoint returns values for a specific multi asset index that is calculated on an hourly basis. The endpoint requires an API key and it requires that the symbol of the index is specified using the symbol parameter. **Example url** ``` https://www.vinterapi.com/api/v2/multi_assets_hourly/?symbol=vntr-5eq-h ```'
  - name: Multi assets real-time
    description: 'The multi assets real-time endpoint returns values on a specific multi asset index that is calculated on a continuous basis. The endpoint requires an API key and it requires that the symbol of the index is specified using the symbol parameter. **Example url** ``` https://www.vinterapi.com/api/v2/multi_assets_real_time/?symbol=vntr-5eq-r ```'
  - name: Single assets hourly
    description: 'The single assets hourly endpoint returns values for a specific single asset index that is calculated on an hourly basis. The endpoint requires an API key and it requires that the symbol of the index is specified using the symbol parameter. **Example url** ``` https://www.vinterapi.com/api/v2/single_assets_hourly/?symbol=btc-usd-p-h ```'
  - name: Single assets real-time
    description: 'The single assets real-time endpoint returns values on a specific single asset index that is calculated on a continuous basis. The endpoint requires an API key and it requires that the symbol of the index is specified using the symbol parameter. **Example url** ``` https://www.vinterapi.com/api/v2/single_assets_real_time/?symbol=btc-usd-p-r ```'
servers:
  - url: 'https://vinterapi.com/api/v2'
paths:
  /active_multi_assets_hourly/:
    $ref: paths/active_multi_assets_hourly.yaml
  /active_multi_assets_real_time/:
    $ref: paths/active_multi_assets_real_time.yaml
  /active_single_assets_hourly/:
    $ref: paths/active_single_assets_hourly.yaml
  /active_single_assets_real_time/:
    $ref: paths/active_single_assets_real_time.yaml
  /multi_assets_hourly/:
    $ref: paths/multi_assets_hourly.yaml
  '/multi_assets_real_time/{symbol}/{limit}':
    $ref: paths/multi_assets_real_time.yaml
    parameters:
      - schema:
          type: string
        name: symbol
        in: path
        required: true
        description: the index symbol
      - schema:
          type: integer
        name: limit
        in: path
        required: true
        description: 'The requested number of records '
  /single_assets_hourly/:
    $ref: paths/single_assets_hourly.yaml
  /single_assets_real_time/:
    $ref: paths/single_assets_real_time.yaml
components:
  securitySchemes:
    Authorization:
      name: API Key
      type: apiKey
      in: header
