openapi: 3.0.2
info:
  version: 1.0.0
  title: Welcome to The Vinter APIs
  termsOfService: 'https://vinterapi.com/terms/'
  contact:
    email: contact@vinter.capital
    url: 'https://vintercapital.com/contact'
    name: contact
  license:
    name: 'Proprietary '
    url: www.vinter.capital
  x-logo:
    url: 'https://res-2.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco/ewbs0jxslmtxft2ihras'
  description: |
    # Introduction
    This documentation describes Vinter Capital's API endpoints. An API key is      required for The Vinter Reference Indexes and the Vinter Real-time Indexes      endpoints. An API key can be requested by sending an e-mail to          contact@vinter.capital. The API key should be placed in the headers             authorization field.
      ```
      Authorization : Api-Key ********
      ```
    In Python this can be done using the request library
      ```
      import requests
      url = 'https://www.vinterapi.com/api/v1/reference_indexes/'
      headers = {'Authorization': *****}
      r = requests.get(url, headers=headers)
      ```
    where the stars are your API key. The API can also be accessed using curl
      ```
      curl -H "Authorization: Api-Key *****"  https://wwww.vinterapi.com/api/v1/reference_indexes/
      ```

tags:
  - name: Active Reference Indexes
    description: The Active Reference Indexes endpoint returns information on all indexes as well as their symbols. This can then be used for requesting information on a specific index using the Vinter Reference Indexes endpoint. 
  - name: Active Real-time Indexes
    description: The Active Real-time Indexes endpoint returns information on all indexes as well as their symbols. This can then be used for requesting information on a specific index using the Vinter Real-time Indexes endpiont. 
  - name: Vinter Reference Indexes
    description: The Vinter Reference Indexes endpoint returns the latest value on a specific index
  - name: Vinter Real-time Indexes
    description: The Vinter Realt-time Indexes endpoint returns the latest value on a specific index
servers:
  - url: 'https://vinterapi.com/api/v1'
paths:
  /active_real_time_indexes/:
    $ref: paths/active_real_time_indexes.yaml
  /active_reference_indexes/:
    $ref: paths/active_reference_indexes.yaml
  /real_time_indexes/:
    $ref: paths/real_time_indexes.yaml
  /reference_indexes/:
    $ref: paths/reference_indexes.yaml
 
  